<div class="container mt-3">
  <h1>My tasks</h1>
  <div>
    <% @tasks.each do |task| %>
      <h5>
          <% if task.completed %>
            <i class="fa-solid fa-square-check"></i>
          <% else %>
            <i class="fa-regular fa-square"></i>
          <% end %>
         <%= link_to task.title, task_path(task) %>
          <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
    </h5>
    <% end %>
    <%= link_to "+ New Task", new_task_path, class: 'btn btn-primary' %>
  </div>
</div>
