<div class="container m-2">
  <h2 class="m-1"><%= @task.title %></h2>
  <h3 class="m-1"><%= @task.details %></h3>
  <% if @task.completed %>
    <h5 class="m-2"><i class="fa-solid fa-square-check m-2"></i>DONE</h5>
  <% else %>
    <h5 class="m-2"><i class="fa-regular fa-square m-2"></i>Not done yet</h5>
  <% end %>
  <p>
    <%= link_to "Edit Task", edit_task_path, class: 'btn btn-primary' %>
  </p>
  <p>
  </p>
  <h5> <%= link_to "back to list", tasks_path %> </h5>
</div>
